<section class="banner">
  <div class="container">
    <div class="row gap-lg justify-content-end">
      <div class="col-lg-12 text-center">
        <h1 class="banner-title text-white">
          <span class="text-circleed">
            Patric
            <svg class="text-primary" width="204" height="98" viewBox="0 0 204 98" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M84.0246 12.4176C41.4516 19.0501 -20.3792 34.7971 12.9003 63.0081C50.828 95.1595 172.267 96.959 197.54 67.581C222.813 38.203 82.0779 17.3567 7.85695 14.5532" stroke="currentColor" stroke-width="2"/>
            </svg>
          </span> Gutersohn
          <br> Tiere // Portrait // People
          <br><br> „Fotografie ist die Literatur des Auges.“ <br><span class="text-primary">- Remy Donnadieu.</span></h1>
      </div>
    </div>
  </div>
</section>

