<section class="portfolio-floating overflow-hidden">
  <div class="floating-info-block-tile text-dark"></div>
  <div class="container portfolio-masonry">
    <div class="row gap-lg mesonaryInit">
      <ng-container *ngFor="let image of images">
        <div class="portfolio-item col-md-6">
          <div class="card portfolio-card card-hover-zoom floating-info-block" data-title="Señorita"
               data-category="Art">
            <img class="img-fluid" src="{{apiUrl}}{{image.image.formats.small.url}}" alt="Portfolio Thumbnail">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <span class="btn btn-circle-black mx-auto" title="View More" (click)="loadImages()">+</span>
      </div>
    </div>
  </div>
</section>
